<div style="padding-bottom:10px;">
    <button type="button" class="btn btn-default btn-sm" ng-click="go('campaign')">
        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>&nbsp;&nbsp;Adicionar campanha
    </button>
</div>

<dng-panel dng-title="Pesquisar">
    <div class="input-group-sm col-sm-4">
        <input type="text" id="inputKeyword" class="form-control" ng-model="campaignsController.keyword" dng-enter="campaignsController.findAllByKeyword(0)" placeholder="Buscar por descrição" />
    </div>
    <div class="input-group-sm col-sm-2">    
        <button  class="btn btn-default btn-sm" ng-click="campaignsController.findAllByKeyword(0)">Buscar</button>
    </div>
</dng-panel>


<dng-panel dng-title="Usuários" dng-collapse="false">
    <table class="table table-striped table-condensed table-hover">
        <thead>
            <tr>
                <th class="col-md-4">Ações</th>
                <th class="col-md-8">Descrição</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-show="campaignsController.data.content != undefined" ng-repeat="campaign in campaignsController.data.content track by $index">
                <td>
                    <dng-tooltip ng-if="campaign.enabled" ng-click="campaignsController.confirmUpdate(campaign)" dng-class="glyphicon glyphicon-check" dng-title="Desativar" style="cursor: pointer;"/>
                    <dng-tooltip ng-if="!campaign.enabled" ng-click="campaignsController.confirmUpdate(campaign)" dng-class="glyphicon glyphicon-unchecked" dng-title="Ativar" style="cursor: pointer;"/>
                    &nbsp;
                    <dng-tooltip ng-click="go('campaign', {id: campaign.id})" dng-class="glyphicon glyphicon-wrench" dng-title="Editar"  style="cursor: pointer;" style="cursor: pointer;" />
                    &nbsp;
                    <dng-tooltip ng-click="campaignsController.confirmRemove(campaign)" dng-class="glyphicon glyphicon-remove" dng-title="Remover" style="cursor: pointer;" />
                    </a>
                </td>
                <td>{{campaign.description}}</td>
            </tr>
            
            <tr ng-show="campaignsController.data.content == undefined || campaignsController.data.totalElements == 0">
                <td colspan="3">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <spam>Nenhum registro encontrado</spam>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-sm-10">
            <dng-pagination ng-if="campaignsController.data.totalPages > 1" dng-total-pages="campaignsController.data.totalPages" dng-current-page="campaignsController.page" dng-method="campaignsController.findAllByKeyword" />
        </div>
        <div class="col-sm-2" style="padding-top: 30px">
            <spam>Quantidade de registros: {{(campaignsController.data.numberOfElements != undefined) ? campaignsController.data.numberOfElements : 0}}</spam>
        </div>
    </div>
</dng-panel>