<dng-panel dng-title="Nova Senha" dng-collapse="false">

    <div class="col-sm-6">
        <form name="formUser" ng-submit="changePasswordController.changePassword()" novalidate>
            <div class="form-group form-group-sm" 
            ng-class="{'has-error': formUser.inputPassword.$invalid && formUser.inputPassword.$touched}">
                
                <label for="inputPassword">Senha atual</label>
                <input type="password" id="inputPassword" name="inputPassword" class="form-control" ng-model="changePasswordController.user.password" ng-required="true">
                <div class="help-block" ng-messages="formUser.inputPassword.$error">
                    <p ng-message="required">Campo obrigatório</p>
                </div>
            </div>

            <div class="form-group form-group-sm" 
            ng-class="{'has-error': formUser.inputNewPassword.$invalid && formUser.inputNewPassword.$touched}">
                <label for="inputNewPassword">Nova senha</label>
                <input type="password" id="inputNewPassword" name="inputNewPassword" class="form-control" ng-model="changePasswordController.user.newPassword" ng-required="true">
                <div class="help-block" ng-messages="formUser.inputNewPassword.$error">
                    <p ng-message="required">Campo obrigatório</p>
                </div>
            </div>

            <div class="form-group form-group-sm" 
            ng-class="{'has-error': formUser.inputRepeatNewPassword.$invalid && formUser.inputRepeatNewPassword.$touched}">
                <label for="inputRepeatPassword">Repita senha</label>
                <input type="password" id="inputRepeatNewPassword" name="inputRepeatNewPassword" class="form-control" ng-model="changePasswordController.user.repeatNewPassword" ng-required="true">
                <div class="help-block" ng-messages="formUser.inputRepeatNewPassword.$error">
                    <p ng-message="required">Campo obrigatório</p>
                </div>
            </div>

            <div class="form-group form-group-sm">
                <div vc-recaptcha key="'6LcQGiMTAAAAAGo4PLLTJF5H8i-0gyK4imzcOPw_'"></div>
            </div>
                
            
            <button type="reset" dng-history-back class="btn btn-danger btn-sm">Voltar</button>
            <button type="submit" class="btn btn-success btn-sm" ng-disabled="formUser.$invalid">Salvar</button>
        </form>
    </div>

    <div class="col-sm-6"></div>
</dng-panel>