<div style="padding-bottom:10px;">
    <button type="button" class="btn btn-default btn-sm" ng-click="go('company')">
        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>&nbsp;&nbsp;Adicionar empresa
    </button>
</div>

<dng-panel dng-title="Pesquisar">
    <div class="input-group-sm col-sm-4">
        <input type="text" id="inputKeyword" class="form-control" ng-model="companiesController.keyword" dng-enter="companiesController.findAllByKeyword(0)" placeholder="Buscar por nome ou cnpj" />
    </div>
    <div class="input-group-sm col-sm-2">    
        <button  class="btn btn-default btn-sm" ng-click="companiesController.findAllByKeyword(0)">Buscar</button>
    </div>
</dng-panel>


<dng-panel dng-title="Usuários" dng-collapse="false">
    <table class="table table-striped table-condensed table-hover">
        <thead>
            <tr>
                <th class="col-md-2">Ações</th>
                <th class="col-md-4">Cnpj</th>
                <th class="col-md-6">Nome</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-show="companiesController.data.content != undefined" ng-repeat="company in companiesController.data.content track by $index">
                <td>
                    <dng-tooltip ng-if="company.enabled" ng-click="companiesController.confirmUpdate(company)" dng-class="glyphicon glyphicon-check" dng-title="Desativar" style="cursor: pointer;"/>
                    <dng-tooltip ng-if="!company.enabled" ng-click="companiesController.confirmUpdate(company)" dng-class="glyphicon glyphicon-unchecked" dng-title="Ativar" style="cursor: pointer;"/>
                    &nbsp;
                    <dng-tooltip ng-click="go('company', {id: company.id})" dng-class="glyphicon glyphicon-wrench" dng-title="Editar"  style="cursor: pointer;" style="cursor: pointer;" />
                    &nbsp;
                    <dng-tooltip ng-click="companiesController.confirmRemove(company)" dng-class="glyphicon glyphicon-remove" dng-title="Remover" style="cursor: pointer;" />
                    </a>
                </td>
                <td>{{company.cnpj}}</td>
                <td>{{company.name}}</td>
            </tr>
            
            <tr ng-show="companiesController.data.content == undefined">
                <td colspan="3">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <spam>Nenhum registro encontrado</spam>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-sm-10">
            <dng-pagination ng-if="companiesController.data.totalPages > 1" dng-total-pages="companiesController.data.totalPages" dng-current-page="companiesController.page" dng-method="companiesController.findAllByKeyword" />
        </div>
        <div class="col-sm-2" style="padding-top: 30px">
            <spam>Quantidade de registros: {{(companiesController.data.numberOfElements != undefined) ? companiesController.data.numberOfElements : 0}}</spam>
        </div>
    </div>
</dng-panel>

<dng-modal dng-id="modelcompanyEnabled" dng-title="Confirmação" dng-confirm="companiesController.update">
    Deseja ativar/desativar essa empresa?
</dng-modal>