<dng-panel dng-title="Empresas" dng-collapse="false">

    <div class="col-sm-4">
        <form name="formCompany" ng-submit="companyController.post()" novalidate>
            <input type="hidden" name="inputId" class="form-control" ng-model="companyController.company.id">
            <div class="form-group form-group-sm" 
                ng-class="{'has-error': formCompany.inputCnpj.$invalid && formCompany.inputCnpj.$touched}">
                <label for="inputCnpj">Cnpj</label>
                <input type="text" id="inputCnpj" name="inputCnpj" class="form-control" ng-model="companyController.company.cnpj" ng-required="true">
                <div class="help-block" ng-messages="formCompany.inputCnpj.$error">
                    <p ng-message="required">Campo obrigatório</p>
                </div>
            </div>
            <div class="form-group form-group-sm" ng-class="{'has-error': formCompany.inputName.$invalid && formCompany.inputName.$touched}">
                <label for="inputName">Nome</label>
                <input type="text" id="inputName" name="inputName" class="form-control" 
                       ng-model="companyController.company.name" ng-required="true">
                <div class="help-block" ng-messages="formCompany.inputName.$error">
                    <p ng-message="required">Campo obrigatório</p>
                </div>
            </div>
            <div class="checkbox">
                <label>
                    <input id="checkboxAtivo" type="checkbox" ng-model="companyController.company.enabled"> Ativo
                </label>
            </div>
            <button type="reset" dng-history-back class="btn btn-danger btn-sm">Voltar</button>
            <button type="submit" class="btn btn-success btn-sm" ng-disabled="formCompany.$invalid">Salvar</button>
        </form>
    </div>

    <div class="col-sm-1"></div>

    <div class="col-sm-4">
        <label>Mais opções</label>

        <div>
            <br />
            <spam class="glyphicon glyphicon-hand-right"></spam>&nbsp;&nbsp;<a href="#">Redefinir senha</a>
        </div>

    </div>
</dng-panel>