<div style="padding-bottom:10px;">
    <button type="button" class="btn btn-default btn-sm" ng-click="go('programming')">
        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>&nbsp;&nbsp;Adicionar programação
    </button>
</div>

<dng-panel dng-title="Pesquisar">
    <div class="input-group-sm col-sm-4">
        <input type="text" id="inputKeyword" class="form-control" ng-model="programmingsController.keyword" dng-enter="programmingsController.findAllByKeyword(0)" placeholder="Buscar por descrição" />
    </div>
    <div class="input-group-sm col-sm-2">    
        <button  class="btn btn-default btn-sm" ng-click="programmingsController.findAllByKeyword(0)">Buscar</button>
    </div>
</dng-panel>


<dng-panel dng-title="Usuários" dng-collapse="false">
    <table class="table table-striped table-condensed table-hover">
        <thead>
            <tr>
                <th class="col-md-4">Ações</th>
                <th class="col-md-8">Descrição</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-show="programmingsController.data.content != undefined" ng-repeat="programming in programmingsController.data.content track by $index">
                <td>
                    <dng-tooltip ng-if="programming.enabled" ng-click="programmingsController.confirmUpdate(programming)" dng-class="glyphicon glyphicon-check" dng-title="Desativar" style="cursor: pointer;"/>
                    <dng-tooltip ng-if="!programming.enabled" ng-click="programmingsController.confirmUpdate(programming)" dng-class="glyphicon glyphicon-unchecked" dng-title="Ativar" style="cursor: pointer;"/>
                    &nbsp;
                    <dng-tooltip ng-click="go('programming', {id: programming.id})" dng-class="glyphicon glyphicon-wrench" dng-title="Editar"  style="cursor: pointer;" style="cursor: pointer;" />
                    &nbsp;
                    <dng-tooltip ng-click="programmingsController.confirmRemove(programming)" dng-class="glyphicon glyphicon-remove" dng-title="Remover" style="cursor: pointer;" />
                    </a>
                </td>
                <td>{{programming.description}}</td>
            </tr>
            
            <tr ng-show="programmingsController.data.content == undefined || programmingsController.data.totalElements == 0">
                <td colspan="3">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <spam>Nenhum registro encontrado</spam>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-sm-10">
            <dng-pagination ng-if="programmingsController.data.totalPages > 1" dng-total-pages="programmingsController.data.totalPages" dng-current-page="programmingsController.page" dng-method="programmingsController.findAllByKeyword" />
        </div>
        <div class="col-sm-2" style="padding-top: 30px">
            <spam>Quantidade de registros: {{(programmingsController.data.numberOfElements != undefined) ? programmingsController.data.numberOfElements : 0}}</spam>
        </div>
    </div>
</dng-panel>