<dng-panel dng-title="Usuários" dng-collapse="false">

    <div class="col-sm-4">
        <form name="formProgramming" ng-submit="programmingController.post()" novalidate>
            <input type="hidden" name="inputId" class="form-control" ng-model="programmingController.programming.id">
            <div class="form-group form-group-sm" 
                ng-class="{'has-error': formProgramming.inputDescription.$invalid && formProgramming.inputDescription.$touched}">
                <label for="inputDescription">Descrição</label>
                <input type="text" id="inputDescription" name="inputDescription" class="form-control" ng-model="programmingController.programming.programmingname" ng-required="true">
                <div class="help-block" ng-messages="formProgramming.inputDescription.$error">
                    <p ng-message="required">Campo obrigatório</p>
                </div>
            </div>
            <button type="reset" dng-history-back class="btn btn-danger btn-sm">Voltar</button>
            <button type="submit" class="btn btn-success btn-sm" ng-disabled="formProgramming.$invalid">Salvar</button>
        </form>
    </div>

    <div class="col-sm-1"></div>

    <div class="col-sm-4">
        <label for="inputEmail">Mais opções</label>

        <div>
            <br />
            <spam class="glyphicon glyphicon-hand-right"></spam>&nbsp;&nbsp;<a href="#">Redefinir senha</a>
        </div>

    </div>
</dng-panel>