<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title" data-toggle="{{dngCollapse === 'true' ? 'collapse' : ''}}" data-target="#dngPanelBody">
			<span ng-show="dngCollapse === 'true'">
				<span class="caret"></span>
			</span>
			&nbsp;<b>{{::dngTitle}}</b>
		</h3>
	</div>
	<div id="dngPanelBody" class="panel-body collapse in" ng-transclude></div>
</div>