<nav>
	<ul id="ulList" class="pagination">
		<li ng-repeat="page in pages track by $index" ng-class="{'active':  page == current}">
			<a href ng-click="loadPage(page);">{{page+1}}</a>
		</li>
	</ul>
</nav>