<style type="text/css">

#containerAuthentication {
  	margin: 0 auto;
	max-width: 350px;
}

.form-signin .form-control {
	height: auto;
	padding: 10px;
	font-size: 16px;
}

a {
	padding-left: 220px;
}

h3 {
	padding-left: 24px;
}

label {
	font-weight: normal;
}
</style>

<div id="containerAuthentication">
	<form name="formAuthentication" ng-submit="authenticationController.login()" class="form-signin" novalidate>
		<div class="form-group form-group-sm">
			<h3>Bem-vindo ao portal Vitrum!</h3>
		</div>

		<div class="form-group form-group-sm" ng-class="{'has-error': formAuthentication.inputUsername.$invalid && formAuthentication.inputUsername.$touched}">
			<input type="email" id="inputUsername" name="inputUsername" class="form-control" ng-model="authenticationController.user.username" ng-required="true" placeholder="Insira seu e-mail">
			<div class="help-block" ng-messages="formAuthentication.inputUsername.$error">
				<p ng-message="required">Campo obrigatório</p>
			</div>
		</div>

		<div class="form-group form-group-sm" ng-class="{'has-error': formAuthentication.inputPassword.$invalid && formAuthentication.inputPassword.$touched}">				
			<input type="password" id="inputPassword" name="inputPassword" class="form-control" ng-model="authenticationController.user.password" ng-required="true" placeholder="Senha">
			<div class="help-block" ng-messages="formAuthentication.inputPassword.$error">
				<p ng-message="required">Campo obrigatório</p>
			</div>
		</div>

		<div class="form-group form-group-sm">
			<a href ui-sref="restorePassword()">Esqueceu a senha?</a>
		</div>
		
		<div class="form-group form-group-sm">
			<button type="submit" class="btn btn-lg btn-primary btn-block" ng-disabled="formAuthentication.$invalid">Fazer login</button>
		</div>
	</form>
</div>