<dng-panel dng-title="Usuários" dng-collapse="false">

    <div class="col-sm-4">
        <form name="formDevice" ng-submit="deviceController.post()" novalidate>
            <input type="hidden" name="inputId" class="form-control" ng-model="deviceController.device.id">
            <div class="form-group form-group-sm" 
                ng-class="{'has-error': formDevice.inputSerial.$invalid && formDevice.inputSerial.$touched}">
                <label for="inputSerial">Serial</label>
                <input type="text" id="inputSerial" name="inputSerial" class="form-control" ng-model="deviceController.device.serial" ng-required="true">
                <div class="help-block" ng-messages="formDevice.inputSerial.$error">
                    <p ng-message="required">Campo obrigatório</p>
                </div>
            </div>
                        
            <div class="checkbox">
                <label>
                    <input id="checkboxAtivo" type="checkbox" ng-model="deviceController.device.enabled"> Ativo
                </label>
            </div>
            <button type="reset" dng-history-back class="btn btn-danger btn-sm">Voltar</button>
            <button type="submit" class="btn btn-success btn-sm" ng-disabled="formDevice.$invalid">Salvar</button>
        </form>
    </div>

    <div class="col-sm-1"></div>

    <div class="col-sm-4">
        <label for="inputEmail">Mais opções</label>

        <div>
            <br />
            <spam class="glyphicon glyphicon-hand-right"></spam>&nbsp;&nbsp;<a href="#">Redefinir senha</a>
        </div>

    </div>
</dng-panel>