<div style="padding-bottom:10px;">
    <button type="button" class="btn btn-default btn-sm" ng-click="go('device')">
        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>&nbsp;&nbsp;Adicionar dispositivo
    </button>
</div>

<dng-panel dng-title="Pesquisar">
    <div class="input-group-sm col-sm-4">
        <input type="text" id="inputKeyword" class="form-control" ng-model="devicesController.keyword" dng-enter="devicesController.findAllByKeyword(0)" placeholder="Buscar por serial" />
    </div>
    <div class="input-group-sm col-sm-2">    
        <button  class="btn btn-default btn-sm" ng-click="devicesController.findAllByKeyword(0)">Buscar</button>
    </div>
</dng-panel>


<dng-panel dng-title="Usuários" dng-collapse="false">
    <table class="table table-striped table-condensed table-hover">
        <thead>
            <tr>
                <th class="col-md-2">Ações</th>
                <th class="col-md-4">E-mail</th>
                <th class="col-md-6">Nome</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-show="devicesController.data.content != undefined" ng-repeat="device in devicesController.data.content track by $index">
                <td>
                    <dng-tooltip ng-if="device.enabled" ng-click="devicesController.confirmUpdate(device)" dng-class="glyphicon glyphicon-check" dng-title="Desativar" style="cursor: pointer;"/>
                    <dng-tooltip ng-if="!device.enabled" ng-click="devicesController.confirmUpdate(device)" dng-class="glyphicon glyphicon-unchecked" dng-title="Ativar" style="cursor: pointer;"/>
                    &nbsp;
                    <dng-tooltip ng-click="go('device', {id: device.id})" dng-class="glyphicon glyphicon-wrench" dng-title="Editar"  style="cursor: pointer;" style="cursor: pointer;" />
                    &nbsp;
                    <dng-tooltip ng-click="devicesController.confirmRemove(device)" dng-class="glyphicon glyphicon-remove" dng-title="Remover" style="cursor: pointer;" />
                    </a>
                </td>
                <td>{{device.serial}}</td>
            </tr>
            
            <tr ng-show="devicesController.data.content == undefined || devicesController.data.totalElements == 0">
                <td colspan="3">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <spam>Nenhum registro encontrado</spam>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-sm-10">
            <dng-pagination ng-if="devicesController.data.totalPages > 1" dng-total-pages="devicesController.data.totalPages" dng-current-page="devicesController.page" dng-method="devicesController.findAllByKeyword" />
        </div>
        <div class="col-sm-2" style="padding-top: 30px">
            <spam>Quantidade de registros: {{(devicesController.data.numberOfElements != undefined) ? devicesController.data.numberOfElements : 0}}</spam>
        </div>
    </div>
</dng-panel>