<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Vitrum</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/ngToast/dist/ngToast.css" />
    <link rel="stylesheet" href="bower_components/nprogress/nprogress.css" />
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="vitrum/stiles/vitrum.css" />
    <!-- endbuild -->
  </head>
  <body ng-app="vitrum">

    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <header ng-controller="headerController">
        <div ng-if="authToken != undefined" ng-include="'vitrum/header/header.html'" />
    </header>

    <toast></toast>

    <main ui-view="main"></main>

    <footer></footer>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <script src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit" async defer></script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/ngToast/dist/ngToast.js"></script>
    <script src="bower_components/nprogress/nprogress.js"></script>
    <script src="bower_components/angular-recaptcha/release/angular-recaptcha.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script type="text/javascript" src="modules.js"></script>

        <script type="text/javascript" src="dng/dng-panel/dng-panel.directive.js"></script>
        <script type="text/javascript" src="dng/dng-history-back/dng-history-back.directive.js"></script>
        <script type="text/javascript" src="dng/dng-tooltip/dng-tooltip.directive.js"></script>
        <script type="text/javascript" src="dng/dng-toast/dng-toast.service.js"></script>
        <script type="text/javascript" src="dng/dng-file-model/dng-file-model.directive.js"></script>
        <script type="text/javascript" src="dng/dng-enter/dng-enter.directive.js"></script>
        <script type="text/javascript" src="dng/dng-pagination/dng-pagination.directive.js"></script>

        <script type="text/javascript" src="vitrum/constant.js" ></script>
        <script type="text/javascript" src="vitrum/states.js" ></script>
        <script type="text/javascript" src="vitrum/config.js"></script>
        <script type="text/javascript" src="vitrum/run.js"></script>       
        
        <script type="text/javascript" src="vitrum/header/header.controller.js"></script>

        <script type="text/javascript" src="vitrum/common/service/http.service.js"></script>
        
        <script type="text/javascript" src="vitrum/authentication/authentication.service.js"></script>
        <script type="text/javascript" src="vitrum/authentication/authentication.controller.js"></script>
        
        <script type="text/javascript" src="vitrum/home/home.controller.js"></script>
        
        <script type="text/javascript" src="vitrum/changePassword/changePassword.controller.js"></script>
        
        <script type="text/javascript" src="vitrum/restorePassword/restorePassword.controller.js"></script>

        <script type="text/javascript" src="vitrum/user/user.service.js"></script>
        <script type="text/javascript" src="vitrum/user/users.controller.js"></script>
        <script type="text/javascript" src="vitrum/user/user.controller.js"></script>
        
        <script type="text/javascript" src="vitrum/company/company.service.js"></script>
        <script type="text/javascript" src="vitrum/company/companies.controller.js"></script>
        <script type="text/javascript" src="vitrum/company/company.controller.js"></script>
        
        <script type="text/javascript" src="vitrum/device/device.service.js"></script>
        <script type="text/javascript" src="vitrum/device/devices.controller.js"></script>
        <script type="text/javascript" src="vitrum/device/device.controller.js"></script>
        
        <script type="text/javascript" src="vitrum/file/file.service.js"></script>
        <script type="text/javascript" src="vitrum/file/files.controller.js"></script>
        <script type="text/javascript" src="vitrum/file/file.controller.js"></script>
        
        <script type="text/javascript" src="vitrum/campaign/campaign.service.js"></script>
        <script type="text/javascript" src="vitrum/campaign/campaigns.controller.js"></script>
        <script type="text/javascript" src="vitrum/campaign/campaign.controller.js"></script>
        
        <script type="text/javascript" src="vitrum/programming/programming.service.js"></script>
        <script type="text/javascript" src="vitrum/programming/programmings.controller.js"></script>
        <script type="text/javascript" src="vitrum/programming/programming.controller.js"></script>
        <!-- endbuild -->
</body>
</html>
