<style type="text/css">

#containerRestorePassword {
    margin: 0 auto;
    max-width: 350px;
}

.form-signin .form-control {
    height: auto;
    padding: 10px;
    font-size: 16px;
}

a {
    padding-left: 225px;
}

h3 {
    /*padding-left: 24px;*/
}

label {
    font-weight: normal;
}
</style>

<div id="containerRestorePassword">
    <form name="formRestorePassword" ng-submit="restorePasswordController.restorePassword()" class="form-signin" novalidate>
        
        <div class="form-group form-group-sm">
            <h3>Redefinir senha!</h3>
        </div>

        <div class="form-group form-group-sm">
            <p>Digite o endereço de e-mail que você usa para fazer login no sistema:</p>
        </div>

        <div class="form-group form-group-sm" ng-class="{'has-error': formRestorePassword.inputUsername.$invalid && formRestorePassword.inputUsername.$touched}">
            <input type="email" id="inputUsername" name="inputUsername" class="form-control" ng-model="restorePasswordController.user.username" ng-required="true" placeholder="Insira seu e-mail">
            <div class="help-block" ng-messages="formRestorePassword.inputUsername.$error">
                <p ng-message="required">Campo obrigatório</p>
            </div>
        </div>
        
        <div class="form-group form-group-sm">
            <div vc-recaptcha key="'6LcQGiMTAAAAAGo4PLLTJF5H8i-0gyK4imzcOPw_'"></div>
        </div>

        <div class="form-group form-group-sm">
            <button type="submit" class="btn btn-lg btn-primary btn-block" ng-disabled="formRestorePassword.$invalid">Redefinir</button>
        </div>
    </form>
</div>