<nav class="navbar navbar-inverse navbar-fixed-top">
    
    <div class="navbar-header">
        
        <button type="button" 
                class="navbar-toggle collapsed" 
                data-toggle="collapse" 
                data-target="#navbar" 
                aria-expanded="false" 
                aria-controls="navbar">
            
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            
        </button>
        
        <a class="navbar-brand" href ui-sref="home()">Vitrum</a>
        
    </div>
    
    <div id="navbar" class="collapse navbar-collapse">
        
        <ul class="nav navbar-nav">
            
            <li>
                <a href ui-sref="home()">
                    <i class="glyphicon glyphicon-home"></i>
                    &nbsp;&nbsp;Principal
                </a>
            </li>
            
            <li class="dropdown">
                
                <a href 
                   class="dropdown-toggle" 
                   data-toggle="dropdown" 
                   role="button" 
                   aria-haspopup="true" 
                   aria-expanded="false">
                    
                    <i class="glyphicon glyphicon-cog"></i>
                    &nbsp;&nbsp;Gerenciar
                    &nbsp;<span class="caret"></span>
                </a>
                
                <ul class="dropdown-menu">
                    
                    <li class="dropdown-header">Acesso</li>
                    
                    <li ng-show="roleUser">
                        <a href ui-sref="users()">
                            <i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;Usuários
                        </a>
                    </li>
                    
                    <li ng-show="roleCompany">
                        <a href ui-sref="companies()">
                            <i class="glyphicon glyphicon-briefcase"></i>&nbsp;&nbsp;Empresas
                        </a>
                    </li>
                    
                    <li role="separator" class="divider"></li>
                    
                    <li class="dropdown-header">Conteúdo</li>
                    
                    <li ng-show="roleFile">
                        <a href ui-sref="files()">
                            <i class="glyphicon glyphicon-file"></i>&nbsp;&nbsp;Arquivos
                        </a>
                    </li>
                    
                    <li ng-show="roleCampaign">
                        <a href ui-sref="campaigns()">
                            <i class="glyphicon glyphicon-film"></i>&nbsp;&nbsp;Campanhas
                        </a>
                    </li>
                    
                    <li ng-show="roleProgramming">
                        <a href ui-sref="programmings()">
                            <i class="glyphicon glyphicon-list"></i>&nbsp;&nbsp;Programações
                        </a>
                    </li>
                    
                </ul>
                
            </li>
            
            <li class="dropdown">
                
                <a href 
                   class="dropdown-toggle" 
                   data-toggle="dropdown" 
                   role="button" 
                   aria-haspopup="true" 
                   aria-expanded="false">
                    
                    <i class="glyphicon glyphicon-dashboard"></i>
                    &nbsp;&nbsp;Monitorar
                    &nbsp;<span class="caret"></span>
                    
                </a>
                
                <ul class="dropdown-menu">
                    <li ng-show="roleDevice">
                        <a href ui-sref="devices()">
                            <i class="glyphicon glyphicon-phone"></i>&nbsp;&nbsp;Dispositivos
                        </a>
                    </li>
                </ul>
                
            </li>
            
            <li class="dropdown">
                
                <a href 
                   class="dropdown-toggle" 
                   data-toggle="dropdown" 
                   role="button" 
                   aria-haspopup="true" 
                   aria-expanded="false">
                    
                    <i class="glyphicon glyphicon-user"></i>
                    &nbsp;&nbsp;Perfil
                    &nbsp;<span class="caret"></span> 
                </a>
                
                <ul class="dropdown-menu">
                    
                    <li>
                        <a href ui-sref="changePassword()">
                            <i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;Alterar senha
                        </a>
                    </li>
                    
                    <li role="separator" class="divider"></li>
                    
                    <li>
                        <a href ng-click="logout()">
                            <i class="glyphicon glyphicon-off"></i>&nbsp;&nbsp;Sair
                        </a>
                    </li>
                    
                </ul>
            </li>
            
            <li>
                <form class="navbar-form">
                    <div class="form-group">
                        
                        <select name="selectCompany" name="selectCompany" class="form-control" style="width:300px;" 
                                ng-model="currentCompany" ng-change="changeCompany(currentCompany)"
                                ng-options='(currentCompany.cnpj + " - " + currentCompany.name) for currentCompany in currentUser.companies track by currentCompany.id'>
                        </select>
                    </div>
                </form>
            </li>
            
        </ul>
    </div>
</nav>