<dng-panel dng-title="Usuários" dng-collapse="false">

	<div class="col-sm-4">
		<form name="formUser" ng-submit="userController.post()" novalidate>
			<input type="hidden" name="inputId" class="form-control" ng-model="userController.user.id">
			<div class="form-group form-group-sm" 
				ng-class="{'has-error': formUser.inputUsername.$invalid && formUser.inputUsername.$touched}">
				<label for="inputUsername">E-mail</label>
				<input type="text" id="inputUsername" name="inputUsername" class="form-control" ng-model="userController.user.username" ng-required="true">
				<div class="help-block" ng-messages="formUser.inputUsername.$error">
					<p ng-message="required">Campo obrigatório</p>
				</div>
			</div>
			<div class="form-group form-group-sm" ng-class="{'has-error': formUser.inputName.$invalid && formUser.inputName.$touched}">
				<label for="inputName">Nome</label>
				<input type="text" id="inputName" name="inputName" class="form-control" 
					   ng-model="userController.user.name" ng-required="true">
				<div class="help-block" ng-messages="formUser.inputName.$error">
					<p ng-message="required">Campo obrigatório</p>
				</div>
			</div>
			<div class="form-group form-group-sm" ng-class="{'has-error': formUser.selectCompanies.$invalid && formUser.selectCompanies.$touched}">
				<label for="selectCompanies">Empresas</label>
				<dng-tooltip dng-class="glyphicon glyphicon-exclamation-sign" dng-title="Selecione as empresas pressionando a tecla Ctrl ao clicar" />
				<select name="selectCompanies" name="selectCompanies" class="form-control form-group-sm" size="6" multiple 
						ng-model="userController.user.companies" 
						ng-required="true"
						ng-options="company.cnpj for company in userController.companies track by company.id">
				</select>
				<div class="help-block" ng-messages="formUser.selectCompanies.$error">
					<p ng-message="required">Necessário selecionar pelo menos uma empresa</p>
				</div>
			</div>
			<div class="form-group form-group-sm">
				<label for="selectAuthorities">Permissões</label>
				<dng-tooltip dng-class="glyphicon glyphicon-exclamation-sign" dng-title="Selecione as permissões pressionando a tecla Ctrl ao clicar" />
				<select id="selectAuthorities" name="selectAuthorities" class="form-control form-group-sm" size="6" multiple
						ng-model="userController.user.authorities"
						ng-options="authority.description for authority in userController.authorities track by authority.id">
				</select>
			</div>
			<div class="checkbox">
				<label>
					<input id="checkboxAtivo" type="checkbox" ng-model="userController.user.enabled"> Ativo
				</label>
			</div>
			<button type="reset" dng-history-back class="btn btn-danger btn-sm">Voltar</button>
			<button type="submit" class="btn btn-success btn-sm" ng-disabled="formUser.$invalid">Salvar</button>
		</form>
	</div>

	<div class="col-sm-1"></div>

	<div class="col-sm-4">
		<label for="inputEmail">Mais opções</label>

		<div>
			<br />
			<spam class="glyphicon glyphicon-hand-right"></spam>&nbsp;&nbsp;<a href="#">Redefinir senha</a>
		</div>

	</div>
</dng-panel>