<div style="padding-bottom:10px;">
	<button type="button" class="btn btn-default btn-sm" ng-click="go('user')">
		<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>&nbsp;&nbsp;Adicionar usuário
	</button>
</div>

<dng-panel dng-title="Pesquisar">
	<div class="input-group-sm col-sm-4">
		<input type="text" id="inputKeyword" class="form-control" ng-model="usersController.keyword" dng-enter="usersController.findAllByKeyword(0)" placeholder="Buscar por nome ou e-mail" />
	</div>
	<div class="input-group-sm col-sm-2">    
		<button  class="btn btn-default btn-sm" ng-click="usersController.findAllByKeyword(0)">Buscar</button>
	</div>
</dng-panel>


<dng-panel dng-title="Usuários" dng-collapse="false">
	<table class="table table-striped table-condensed table-hover">
		<thead>
			<tr>
				<th class="col-md-2">Ações</th>
				<th class="col-md-4">E-mail</th>
				<th class="col-md-6">Nome</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-show="usersController.data.content != undefined" ng-repeat="user in usersController.data.content track by $index">
				<td>
					<dng-tooltip ng-if="user.enabled" ng-click="usersController.confirmUpdate(user)" dng-class="glyphicon glyphicon-check" dng-title="Desativar" style="cursor: pointer;"/>
					<dng-tooltip ng-if="!user.enabled" ng-click="usersController.confirmUpdate(user)" dng-class="glyphicon glyphicon-unchecked" dng-title="Ativar" style="cursor: pointer;"/>
					&nbsp;
					<dng-tooltip ng-click="go('user', {id: user.id})" dng-class="glyphicon glyphicon-wrench" dng-title="Editar"  style="cursor: pointer;" style="cursor: pointer;" />
					&nbsp;
					<dng-tooltip ng-click="usersController.confirmRemove(user)" dng-class="glyphicon glyphicon-remove" dng-title="Remover" style="cursor: pointer;" />
					</a>
				</td>
				<td>{{user.username}}</td>
				<td>{{user.name}}</td>
			</tr>
			
			<tr ng-show="usersController.data.content == undefined">
				<td colspan="3">
					<div class="row">
						<div class="col-sm-12 text-center">
							<spam>Nenhum registro encontrado</spam>
						</div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="row">
		<div class="col-sm-10">
			<dng-pagination ng-if="usersController.data.totalPages > 1" dng-total-pages="usersController.data.totalPages" dng-current-page="usersController.page" dng-method="usersController.findAllByKeyword" />
		</div>
		<div class="col-sm-2" style="padding-top: 30px">
			<spam>Quantidade de registros: {{(usersController.data.numberOfElements != undefined) ? usersController.data.numberOfElements : 0}}</spam>
		</div>
	</div>
</dng-panel>