<div style="padding-bottom:10px;">
    <button type="button" class="btn btn-default btn-sm" ng-click="go('file')">
        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>&nbsp;&nbsp;Adicionar arquivo
    </button>
</div>

<dng-panel dng-title="Pesquisar">
    <div class="input-group-sm col-sm-4">
        <input type="text" id="inputKeyword" class="form-control" ng-model="filesController.keyword" dng-enter="filesController.findAllByKeyword(0)" placeholder="Buscar por nome" />
    </div>

    <div class="input-group-sm col-sm-2">
        <label class="radio-inline"><input type="radio" name="fileType" ng-model="filesController.fileType" ng-value="IMAGES">Imagens</label>
        <label class="radio-inline"><input type="radio" name="fileType" ng-model="filesController.fileType" ng-value="VIDEOS">Vídeos</label>
    </div>

    <div class="input-group-sm col-sm-2">    
        <button  class="btn btn-default btn-sm" ng-click="filesController.findAllByKeyword(0)">Buscar</button>
    </div>
</dng-panel>


<dng-panel dng-title="Arquivos" dng-collapse="false">
    <table class="table table-striped table-condensed table-hover">
        <thead>
            <tr>
                <th class="col-md-2">Ações</th>
                <th class="col-md-10">Nome</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-show="filesController.data != undefined" ng-repeat="file in filesController.data track by $index">
                <td>
                    <dng-tooltip ng-click="filesController.confirmRemove(file)" dng-class="glyphicon glyphicon-remove" dng-title="Remover" style="cursor: pointer;" />
                    </a>
                </td>
                <td>{{file.name}}</td>
            </tr>
            
            <tr ng-show="filesController.data == undefined">
                <td colspan="3">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <spam>Nenhum registro encontrado</spam>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</dng-panel>