<dng-panel dng-title="Arquivos" dng-collapse="false">

    <div class="col-sm-8">
        <form name="formFile" ng-submit="fileController.post()" enctype="multipart/form-data" novalidate>
            
            <div class="form-group form-group-sm" ng-show="fileController.files != undefined">

                <table class="table table-striped table-condensed table-hover">
                    <thead>
                        <tr>
                            <th class="col-md-8">Arquivo</th>
                            <th class="col-md-4">Tamanho</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="file in fileController.files track by $index">
                            <td>{{file.name}}</td>
                            <td>{{fileController.bytesToSize(file.size)}}</td>
                        </tr>
                        
                        <tr ng-show="fileController.files == undefined">
                            <td colspan="3">
                                <div class="row">
                                    <div class="col-sm-12 text-center">
                                        <spam>Nenhum registro encontrado</spam>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <button type="reset" dng-history-back class="btn btn-danger btn-sm">Voltar</button>
            <label class="btn btn-primary btn-sm" for="inputFile">
                <input id="inputFile" name="files" type="file" style="display:none;" accept=".png, .jpg, .jpeg, .gif" multiple 
                class="form-control" dng-file-model="fileController.files" />
                Upload
            </label>
            <button type="submit" class="btn btn-success btn-sm" ng-disabled="formFile.$invalid">Salvar</button>
        </form>
    </div>

</dng-panel>